@charset "UTF-8";
/* Общие стили */
body {
  font-size: 18px;
  line-height: 23px;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #f1ece9;
}

h1,
h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

@media (max-width: 576px) {
  h1,
  h2 {
    font-size: 14px;
    line-height: 16px;
  }
}

/* Мобильное меню */
.mobile-nav {
  padding-top: 17px;
  background-color: #f1ece9;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: none;
}

.mobile-nav ul li {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 17px;
}

.mobile-nav ul li a {
  text-decoration: none;
  color: inherit;
}

.mobile-nav .mobile-nav-close {
  cursor: pointer;
  font-size: 24px;
  line-height: 32px;
  display: block;
}

/* Стили разделов */
header {
  background-color: #333a42;
  color: #ffffff;
  padding-top: 39px;
}

@media (max-width: 576px) {
  header {
    padding-top: 17px;
  }
}

header .menu-button {
  display: none;
}

@media (max-width: 576px) {
  header .menu-button {
    display: block;
  }
}

@media (max-width: 576px) {
  header nav {
    display: none;
  }
}

header nav ul li {
  display: inline-block;
  margin-right: 34px;
}

header nav ul li a {
  color: inherit;
  text-decoration: none;
}

#about {
  padding-top: 129px;
  padding-bottom: 80px;
  color: #ffffff;
  background-color: #333a42;
}

@media (max-width: 576px) {
  #about {
    padding-top: 31px;
    padding-bottom: 32px;
  }
}

#about figure img {
  width: 100%;
  border-radius: 50%;
}

#about p {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

@media (max-width: 576px) {
  #about p {
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
  }
}

#projects {
  padding-top: 39px;
  padding-bottom: 47px;
}

@media (max-width: 576px) {
  #projects {
    padding-top: 16px;
    padding-bottom: 30px;
  }
}

@media (max-width: 576px) {
  #projects figure {
    margin-top: 33px;
  }
}

#projects figure img {
  width: 100%;
  margin-bottom: 6px;
}

#projects figure figcaption h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

@media (max-width: 576px) {
  #projects figure figcaption h3 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-top: 16px;
  }
}

#projects figure figcaption .counter {
  line-height: 32px;
  text-align: right;
}

@media (max-width: 576px) {
  #projects figure figcaption .counter {
    font-size: 10px;
    line-height: 16px;
    margin-top: 16px;
  }
}

#projects figure figcaption .meta {
  margin-top: 7px;
}

@media (max-width: 576px) {
  #projects figure figcaption .meta {
    font-size: 10px;
    line-height: 12px;
    margin-top: 5px;
  }
}

#reviews .wrapper {
  border-top: 1px solid #a6a5a1;
  padding-top: 21px;
  padding-bottom: 96px;
}

@media (max-width: 576px) {
  #reviews .wrapper {
    padding-top: 16px;
    padding-bottom: 30px;
  }
}

#reviews .wrapper h2 {
  margin-bottom: 57px;
}

@media (max-width: 576px) {
  #reviews .wrapper h2 {
    margin-bottom: 32px;
  }
}

#reviews .wrapper img {
  width: 100%;
  border-radius: 50%;
}

#reviews .wrapper h3 {
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 8px;
}

@media (max-width: 576px) {
  #reviews .wrapper h3 {
    line-height: 12px;
    font-size: 10px;
    margin-bottom: 4px;
  }
}

@media (max-width: 576px) {
  #reviews .wrapper p {
    font-size: 10px;
    line-height: 12px;
    padding-bottom: 24px;
  }
}

#contacts .wrapper {
  border-top: 1px solid #a6a5a1;
  padding-top: 37px;
  padding-bottom: 127px;
}

@media (max-width: 576px) {
  #contacts .wrapper {
    padding-top: 14px;
    padding-bottom: 47px;
  }
}

#contacts .wrapper h2 {
  margin-bottom: 32px;
}

@media (max-width: 576px) {
  #contacts .wrapper h2 {
    margin-bottom: 16px;
  }
}

#contacts .wrapper .contacts p {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 32px;
}

@media (max-width: 576px) {
  #contacts .wrapper .contacts p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 24px;
  }
}

#contacts .wrapper .contacts p a {
  color: #d7443e;
  text-decoration: none;
}

@media (max-width: 576px) {
  #contacts .wrapper .contacts ul {
    margin-bottom: 24px;
  }
}

#contacts .wrapper .contacts ul li {
  display: inline-block;
  margin-right: 48px;
}

@media (max-width: 576px) {
  #contacts .wrapper .contacts ul li {
    margin-right: 24px;
  }
}

#contacts .wrapper .feedback form label {
  display: block;
  line-height: 32px;
  margin-bottom: 3px;
}

@media (max-width: 576px) {
  #contacts .wrapper .feedback form label {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 4px;
  }
}

#contacts .wrapper .feedback form input,
#contacts .wrapper .feedback form textarea {
  width: 100%;
  font-size: inherit;
  padding: 0 7px 0 7px;
}

@media (max-width: 576px) {
  #contacts .wrapper .feedback form input,
  #contacts .wrapper .feedback form textarea {
    font-size: 10px;
  }
}

#contacts .wrapper .feedback form input {
  height: 32px;
  margin-bottom: 13px;
}

@media (max-width: 576px) {
  #contacts .wrapper .feedback form input {
    height: 16px;
    margin-bottom: 8px;
  }
}

#contacts .wrapper .feedback form textarea {
  resize: none;
  margin-bottom: 32px;
}

@media (max-width: 576px) {
  #contacts .wrapper .feedback form textarea {
    margin-bottom: 16px;
  }
}

#contacts .wrapper .feedback form button {
  color: #ffffff;
  background-color: #333a42;
  border: 1px solid #333a42;
  height: 32px;
  font-size: inherit;
  padding: 0 25px 0 25px;
}

@media (max-width: 576px) {
  #contacts .wrapper .feedback form button {
    font-size: 14px;
    height: 25px;
    margin-bottom: 4px;
  }
}

#contacts .wrapper .feedback .submit {
  margin-top: 15px;
}

@media (max-width: 576px) {
  #contacts .wrapper .feedback .submit {
    margin-top: 0px;
  }
}

#contacts .wrapper .feedback .submit:disabled {
  background-color: #B22222;
}

#contacts .wrapper .feedback .submit-success {
  color: green;
}

@media (max-width: 576px) {
  #contacts .wrapper .feedback .submit-success {
    font-size: 14px;
    line-height: 16px;
  }
}

#contacts .wrapper .feedback .submit-error {
  color: red;
}

@media (max-width: 576px) {
  #contacts .wrapper .feedback .submit-error {
    font-size: 14px;
    line-height: 16px;
  }
}

footer {
  padding: 15px 0 15px 0;
  background-color: #333a42;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 576px) {
  footer {
    padding: 5px 0 7px 0;
    font-size: 10px;
    line-height: 12px;
  }
}
/*# sourceMappingURL=styles.css.map */